$c_b: rgb(69, 107, 79);
$c_f: rgb(217,239,222);
$c_t: rgb(55, 71, 58);
$c_te: rgb(126, 173, 133);
$c_tt: rgb(41, 52, 42);
$f_f: "Playfair Display", serif;

body{
    background-color: $c_b ;
    font-family:$f_f ;
    font-size: 17px;
    @media (max-width: 1200px){
        font-size: 14px;
        a{
            font-size: 20px;
        }
        .header{
            max-width: 1100px;
            .header-menu{
                column-gap: 35px;
            }
        }
      }
      @media (max-width: 800px){
        font-size: 14px;
        a{
            font-size: 15px;
        }
        .header{
            max-width: 790px;
            .header-menu{
                display: none;
            }
        }
      }
   
    a{
        text-decoration: none;
        color: $c_t ;
        font-weight: 700;
        text-transform: uppercase;
        height: 80px;
        display: inline-block;
        align-items: center;
        padding-top: 30px;
        margin: 20px;
        transition-duration: 1s;
    }
    li{
        list-style: none;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    height: 120px;
    background-color: $c_f ;
    border-radius: 0 0 14px 14px;
    column-gap: 10px;
    font-size:30px;
    .header_logo{
        margin: 10px;
        padding: 8px;
        background-image: url(../img/1781611.svg);
        display: block;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
    }
    .header-menu {
        display: flex;
        column-gap: 80px;
    }
   .nav{
        display: flex;
        gap: 8%;
        flex: content;
        text-decoration: none;
        justify-content: space-between;
        max-width: 600px;
        }
        .nav-link:hover{
            background-color: rgb(144, 102, 48);
            border-radius: 14px;
            color: #dfc0c0;
            
            text-shadow: 2px 2px  #000;
        }
    
    .header-menu-link{
        display: block;
        text-decoration: none;
        margin-bottom: 15px;
        margin-top: 10px;
        font-weight: 500;
        
        }
   
    .nav-tel{
        margin-right: 15px;
    }
}
.main{
    background-image: url(./img/Cats_Branches_Glance_587857_5120x341300.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    border-radius: 14px;
    margin-top: 90px;
    position: relative;
    .h1{
        text-align: center;
        display: inline-block;
        background-color: $c_f;
        position: relative;
        left: 50%;
        padding: 1%;
        color: $c_tt;
        margin-bottom: 10px;
        text-shadow: -2px 2px 3px rgb(174, 121, 121) ;
        font-size: 45px;
        border-radius: 14px;
    }
    .main_go{
        background-color: $c_f;
        width: 35%;
        position: relative;
        top: 10px;
        left: 750px;
        border-radius: 14px;
        padding: 5px;
        margin-top: 10px;
    }
}
.main_service{
    background-image: url(./img/Cats_Branches_Glance_587857_5120x3413101.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    border-radius: 14px;
    margin-top: 90px;
    position: relative;
    h2{
        text-align: start;
        padding-left: 3%;
        color: $c_tt;
        margin-bottom: 10px;
        text-shadow: -2px 2px 3px rgb(174, 121, 121) ;
        font-size: 45px;
        background-color: $c_f;
        display: inline-block;
        padding: 4px;
        margin-left: 20px;
        border-radius: 14px;
    }
    .main_to{
        background-color: $c_f;
        width: 35%;
        position: relative;
        top: 8%;
        left: 14px;
        border-radius: 14px;
        padding: 5px;
        margin-top: 10px;
    }
}
.price{
    background-image: url(./img/Cats_Branches_Glance_Whiskers_Ginger_color_588814_5601x3734.jpg);
    h2{
        margin-left: 140px;
       
    }
}

.deadlines{
    background-image:url(./img/Cats_Branches_Glance_587857_5120x3413.jpg);
    .main_to{
       left: 750px;
    }
    h2  {
       
        margin-left: 950px;
        text-align: center;
           
        left: 750px;
    }
}